p{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Roboto';
    color: black!important;
    width: 1024px;
    height: 768px;
    /*border: 1px solid red;*/

}

.container{
    width: 100%;
    overflow: hidden;
    /*background: #CC9E61;*/
}

div.panel {
    height: 100%;
    width: 20px;							
}

#box {
    position: absolute;
}

.device-container{
    text-align: center;
}

.device-container{
    position: absolute;

    width: 400px;
    height: 100%;
    margin: 0 auto;

    left: 400px;
    top: 300px;

}

.device{
    /*margin-top: 80px;*/
    /*float: left;*/
    position: absolute;
    min-height: 300px;

    z-index: 1100;
}

/*for device circle*/
.device-circle{
    position: absolute;

    width: 200px;
    height: 150px;

    text-align: left;

    top: -80px;
    left: -80px;

    z-index: 1101;
}

.device-circle.state1 .device-circle-background{
    background-image: url(../img/toptip1.svg);
}

.device-circle.state2 .device-circle-background{
    background-image: url(../img/toptip2.svg);
}

.device-circle.state3 .device-circle-background{
    background-image: url(../img/toptip3.svg);
}

.device-circle-background{
    width: 135px;
    height: 135px;
    position: absolute;

}

.device-circle-icon{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 50%;
}

.device-circle-icon.on{
    background-color: #99cc00;
}

.device-circle-icon.off{
    background-color: #ff4444;
}

.device-circle-icon img{
    width: 100px;
    height: 100px;
    top: -5px;
    position: relative;
    left: -8px;
}

.device-circle-spec-icon{
    z-index: 1101;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 20px;
}

.device-circle-spec-icon.input{
    left: 120px;
}

.device-circle-spec-icon.output{
    left: -50px;
}

.device-circle-spec-icon img{
    height: 80px;
    width: 80px;
    margin: -25px 0 0 -25px;
}

/*For device popup*/

.device-popup{
    /*    position: absolute;
        margin-left: 60px;
        margin-top: 100px;*/
    /*width: 100%;*/
    /*height: 800px;*/

    background-color: #f1f1f1;
    width: 350px;
}

.device-title{
    font-size: 2em;
    margin: 5px;

    color: #989898;
}

.feature-list{
    padding: 15px;
}

.feature{
    /*width: 300px;*/
    /*border: 5px solid #fff;*/
    border-radius: 5px;
    /*box-shadow: 0 0 10px #fff;*/
    margin-top: 15px;
    /*margin: 20px;*/
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:0px 1px 3px rgba(0,0,0,0.1);
}

.feature:hover{
    /*    background-color: rgba(255,255,255,0.8);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.3);*/
}

.feature-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.feature-icon img{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
}



span.feature-title{
    margin-top: -10px;
    font-size: 1.5em;

    position: relative;
    top: -10px;
    /*float: left;*/
}

.spec-list{

    width: 200px;
    background: #f1f1f1;

    float: left;

    font-size: 0.8em;

    z-index: 1104;
    /*padding-bottom: 10px;*/

}

.spec-list.input{
    margin: 0px 0 0 10px;
    left: 115px;
    top: 35px;

    position: absolute;


    box-shadow: 7px -5px 10px rgba(0,0,0,0.3);
}

.spec-list.output{

    right: -15px;
    top: 35px;

    position: absolute;


    box-shadow: -7px -5px 10px rgba(0,0,0,0.3);
}

.spec-list-title{
    font-size: 1.6em;
    margin: 5px;

    color: #989898; 
}


.spec{
    display: block;
    height: 50px;
    /*padding: 10px;*/
    margin: 10px;
    display: block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.05);

    z-index: 1100;
    /*
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
}

.spec-icon{
    float: left;
    height: 50px;
    width: 50px;
}

.spec-icon img{
    border-radius: 5px 0px 0 5px;
    height: 50px;
    width: 50px;
}

.spec-title{
    position: relative;
    top: 10px;
}

/*for rules*/
.rule-connection{
    opacity: 0;
}

.control-container{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
}

.control{
    width: 200px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    float: left;

    margin-left: 50px;

    padding-top: 20px;
}


/*for rule input device list*/
.rule-device-list{
    position: absolute;
    top: 0;
    /*height: 100%;*/
    width: 250px;
    /*border: solid 1px #f1f1f1;*/
}

.input.rule-device-list{
    left: 0;
}

.output.rule-device-list{
    /*right: 0;*/
}

.output.rule-device-list .device{
    margin-left: 60px;
}

.rule-device-container{
    border: solid 3px #f1f1f1;
    height: 150px;
    width: 230px;
    position: relative;
    border-radius: 15%;

    padding-top: 10px;
}

.output .rule-device-container{
    left: 790px;
}

.input.rule-device-list .rule-device-container{
    margin-top: 30px;
    margin-left: 10px;
}

.output.rule-device-list .rule-device-container{
    margin-top: 30px;
    margin-right: 10px;
    padding-left: 10px;
}

.input.rule-device-list .device{
    /*top: 224px;*/
    /*left: 319px;*/
}

.output.rule-device-list .device{
    /*top: 200px;*/
    /*left: -500px;*/
}

.rule-device-container .device .device-popup{
    /*display: none;*/
    position: absolute;

}

.input .rule-device-container .device .device-popup{
    top: 80px;
    left: 80px;
}

.output .rule-device-container .device .device-popup{
    top: 80px;
    right: -80px;
}

.rule-device-container .device .device-circle{
    top: 0;
    left: 0;
}

#notification{
    position: absolute;
    width: 60%;
    background: #f1f1f1;
    margin-left: 20%;

    border-radius: 0 0 10px 10px;
    /*z-index: 1103;*/
    padding: 5px 0;

    text-align: center;
}

div.aLabel{
    width: 120px;
    height: 30px;
}

.aLabel .rule-info{
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;

}

.aLabel .rule-executed{
    position: absolute;
    left: 60px; 
}

.aLabel .rule-executed-num{
    float: left;
    margin-left: 12px;
}


.device[data-id="1"]{
    z-index: 1105;
}