p{
    margin: 0;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    overflow: hidden;
    /*background: #CC9E61;*/
}

div.panel{
    display: block;
    height: 100%;
}

.inner, .outer {
    border-radius: 12px;
    float: left;
}

.inner {
    width: 60%;
    background: #E9F2F9;
}

.outer {
    width: 40%;
    background: #B2D1E5;
}

#leftpanel, #rightpanel{
    /*background: yellow;*/
    width: 40%;
    position: fixed;
    top: 0;
    margin-bottom: 5px;
    /*border: 5px solid #8ac8d4;*/
    border-radius: 15px;
    /*float: left;*/
    padding: 5px;
}

#leftpanel {
    left: -40%;

}

#rightpanel{
    right: -40%;
}
                
div.device{
    border: 5px #F9F9F9 solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    background: #40B3DF;
    color: #E9F2F9;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 250px;
}

div.device .device-name {
    font-size: 0.8em;
    font-weight: bold;
}

div.device p{
    margin-bottom: 5px;
    font-size: 0.6em;
}

.device .device-availability {
}

.device-availability .on, .device-availability .off{
    width: 25px;
    height: 15px;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 2px;

}


.device-availability .on{
    background-color: #A8CB17;
    color: white;
}

.device-availability .off{
    background-color: #EEEEEE;
    color: gray;		
}

.device a.button{
    background-color: #A8CB17;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
    font-size: 0.6em;
}

.device a.button.input{
    left: 5px;
    border-bottom-left-radius: 10px;
}

.device a.button.output{
    right: 5px;
    border-bottom-right-radius: 10px;
}

.feature{
    position: relative;
    margin: 10px;
    background: #98C73D;
    height: 100px;
    width: 100px;
    float: left;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:5px solid white;
    font-size: 0.6em;
}

.feature img{
    max-width: 100px;
    max-height: 80px;
    color: white;
}